{% extends "league/base.html" %}
{% load static %}

{% block head_css %}
	<link rel="stylesheet" type="text/css" href="{% static "league/table.css" %}"/>
{%endblock head_css %}

{% block content %}

<section class="wrapper">
{% if user.is_authenticated %}
	Hi {{ user.username}}!
	<p><a href="{% url 'logout' %}">Log Out</a></p>
<h1>Group A</h1>
  <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver2 m-b-110">
					<table data-vertable="ver2">
						<thead>
							<tr class="row100 head">
								<th class="column100 column1" data-column="column1"></th>
								<th class="column100 column2" data-column="column2">Fernando</th>
								<th class="column100 column3" data-column="column3">Locien</th>
								<th class="column100 column4" data-column="column4">Mathias</th>
								<th class="column100 column5" data-column="column5">Juan</th>
								<th class="column100 column6" data-column="column6">Robert</th>
							</tr>
						</thead>
						<tbody>
							<tr class="row100">
								<th class="column100 column1" data-column="column1">Fernando</th>
								<td class="column100 column2" data-column="column2">xx</td>
								<td class="column100 column3" data-column="column3"><a href="/league/score">--</ a></td>
								<td class="column100 column4" data-column="column4"><a href="#">--</ a></td>
								<td class="column100 column5" data-column="column5"><a href="#">--</ a></td>
								<td class="column100 column6" data-column="column6"><a href="#">--</ a></td>
							</tr>

							<tr class="row100">
								<th class="column100 column1" data-column="column1">Locien</th>
								<td class="column100 column2" data-column="column2"><a href="#">--</ a></td>
								<td class="column100 column3" data-column="column3">xx</td>
								<td class="column100 column4" data-column="column4"><a href="#">--</ a></td>
								<td class="column100 column5" data-column="column5"><a href="#">--</ a></td>
								<td class="column100 column6" data-column="column6"><a href="#">--</ a></td>
							</tr>

							<tr class="row100">
								<th class="column100 column1" data-column="column1">Mathias</th>
								<td class="column100 column2" data-column="column2"><a href="#">--</ a></td>
								<td class="column100 column3" data-column="column3"><a href="#">--</ a></td>
								<td class="column100 column4" data-column="column4">xx</td>
								<td class="column100 column5" data-column="column5"><a href="#">--</ a></td>
								<td class="column100 column6" data-column="column6"><a href="#">--</ a></td>
							</tr>

							<tr class="row100">
								<th class="column100 column1" data-column="column1">Juan</th>
								<td class="column100 column2" data-column="column2"><a href="#">--</ a></td>
								<td class="column100 column3" data-column="column3"><a href="#">--</ a></td>
								<td class="column100 column4" data-column="column4"><a href="#">--</ a></td>
								<td class="column100 column5" data-column="column5">xx</td>
								<td class="column100 column6" data-column="column6"><a href="#">--</ a></td>
							</tr>

							<tr class="row100">
								<th class="column100 column1" data-column="column1">Robert</th>
								<td class="column100 column2" data-column="column2"><a href="#">--</ a></td>
								<td class="column100 column3" data-column="column3"><a href="#">--</ a></td>
								<td class="column100 column4" data-column="column4"><a href="#">--</ a></td>
								<td class="column100 column5" data-column="column5"><a href="#">--</ a></td>
								<td class="column100 column6" data-column="column6">xx</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% else %}
	<p>You are not logged in</p>
	<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
</ section>