{% block title %}Dresden Inter Club Squash League{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	Hi {{ user.username}}!
	<p><a href="{% url 'logout' %}">Log Out</a></p>
<h1>Group A</h1>
<table border="1px solid #FF0000">
	<tr>
		<th href=""/>
		<th width='100px'>Fernando</th>
		<th width='100px'>Locien</th>
		<th width='100px'>Mathias</th>
		<th width='100px'>Juan</th>
	</tr>
	<tr>
		<th width='100px'>Fernando</th>
		<th width='100px'>&nbsp;</th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
	</tr>
	<tr>
		<th width='100px'>Locien</th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
	</tr>
	<tr>
		<th width='100px'>Mathias</th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
	</tr>
	<tr>
		<th width='100px'>Juan</th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'></th>
	</tr>
</table>
<h1>Group B</h1>
<table border="1px solid #FF0000">
	<tr>
		<th />
		<th width='100px'>Daniel</th>
		<th width='100px'>David</th>
		<th width='100px'>Robert</th>
		<th width='100px'>Ana</th>
	</tr>
	<tr>
		<th width='100px'>Daniel</th>
		<th width='100px'></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
	</tr>
	<tr>
		<th width='100px'>David</th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
	</tr>
	<tr>
		<th width='100px'>Robert</th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
	</tr>
	<tr>
		<th width='100px'>Ana</th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'></th>
	</tr>
</table>
<h1>Group C</h1>
<table border="1px solid #FF0000">
	<tr>
		<th />
		<th width='100px'>Mohammad</th>
		<th width='100px'>Abhi</th>
		<th width='100px'>Eric</th>
		<th width='100px'>SomeGuy</th>
	</tr>
	<tr>
		<th width='100px'>Mohammad</th>
		<th width='100px'></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
	</tr>
	<tr>
		<th width='100px'>Abhi</th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
	</tr>
	<tr>
		<th width='100px'>Eric</th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
	</tr>
	<tr>
		<th width='100px'>SomeGuy</th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'><a href="#">&nbsp;</a></th>
		<th width='100px'></th>
	</tr>
</table>
{% else %}
	<p>You are not logged in</p>
	<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}